h1 Home
div 
	a(href="/home/privileges" style="margin-right:10px;") Privileges
	a(href="/home/roles" style="margin-right:10px;") Roles
	a(href="/home/users" style="margin-right:10px;") Users
	a(href="/home/profiles" style="margin-right:10px;") Profile


span Click on links above to go to desired page