h1 Home
div 
    a(href="/home/users" target="_blank" style="margin-right:10px;") Users
    a(href="/home/profiles" target="_blank" style="margin-right:10px;") Profile
    a(href="/home/roles" target="_blank" style="margin-right:10px;") Roles