h1 Welcome 

form(action="/" method="POST")
    input(name="username" placeholder="Enter your name" required)
    input( type="password" name="password" placeholder="Enter your password" required)
    button(type="submit") Submit 
    span(style="color:red;")=error

