script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")


script(type="text/javascript").
	function loadHtml(url, target){
		$.get("http://localhost:3000" + url, function(html){
			$(html).appendTo(target).modal()
		})
	}